
  
<div class="container">
  <section>
    <div class="form-row">
      <div class="form-inline">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">복습일차</div>
          </div>
          <input type="numer" class="form-control" [(ngModel)]="reviewDayCount" (change)="onReviewDayCountChange()" >
        </div>
        <button class="btn btn-primary mb-2" (click)="roadCards()">카드 가져오기</button>
      </div>
      <!-- <div class="form-group col-md-6 col-sm-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">카드 종류</span>
          <div class="btn-group btn-group-toggle">
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="cardType[0]" [ngModelOptions]="{standalone: true}"> Sentence
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="cardType[1]" [ngModelOptions]="{standalone: true}"> Phrasal Verb
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="cardType[2]" [ngModelOptions]="{standalone: true}"> Expression
            </label>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <card-decks [cardList]="cardList"></card-decks>
</div>