<div class="container">
  <section>
    <div class="form-row">
      <div class="form-inline">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">복습일차</div>
          </div>
          <input type="numer" class="form-control" [(ngModel)]="reviewDayCount">
        </div>
        <button #bRoadCards
                class="btn btn-outline-primary mb-2"
                (click)="roadCards(); bRoadCards();"
                [disabled]="isUpdatingResult">카드 가져오기</button>
        <button #bSuffle
                class="btn btn-outline-secondary mb-2"
                (click)="suffleCards(); bSuffle.blur(); cardDecks.setCurrentCardIndex(0);"
                [disabled]="isUpdatingResult">카드 섞기</button>
        <button #bRenew
                class="btn btn-outline-success mb-2"
                (click)="updateAllCardReviewResult(); bRenew.blur();"
                [disabled]="isUpdatingResult">복습결과 갱신</button>
      </div>
    </div>
  </section>
  <card-decks #cardDecks [cardList]="cardList"></card-decks>
</div>