<div class="container">
  <section>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-6">
        <label for="reviewDayCount">복습 일차</label>
        <input id="reviewDayCount" type="number" name="reviewDayCount" [(ngModel)]="reviewDayCount" (change)="onReviewDayCountChange()">
      </div>
      <div class="col-6"></div>

      <div class="form-group col-md-6 col-sm-6">
        <!-- <label for="uiCardType">카드 종류</label> -->
        <div class="input-group-prepend">
          <span class="input-group-text" id="">카드 종류</span>
          <div class="btn-group btn-group-toggle">
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="cardType[0]" [ngModelOptions]="{standalone: true}"> Sentence
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="cardType[1]" [ngModelOptions]="{standalone: true}"> Phrasal Verb
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="cardType[2]" [ngModelOptions]="{standalone: true}"> Expression
            </label>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" (click)="roadCards()">불러 오기</button>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <button class="btn btn-info col-5">맞음</button>
      <button class="btn btn-warning col-4">틀림</button>
      <button class="btn btn-success col-3">복습완료</button>
    </div>
  </section>

  <card-decks [cardList]="cardList"></card-decks>
</div>