<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<ngb-tabset justify="center" activeId="tab2">
  <ngb-tab id="tab1">
    <ng-template ngbTabTitle>
      <b>카드</b> 작성/수정</ng-template>
    <ng-template ngbTabContent>
      <app-input-form></app-input-form>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab2">
    <ng-template ngbTabTitle>
      <b>카드</b> 복습</ng-template>
    <ng-template ngbTabContent>
      <app-card-review></app-card-review>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="reserved(Test)">
    <ng-template ngbTabContent>
      <app-user-info></app-user-info>
      <!-- <app-test-angular-study></app-test-angular-study>       -->
    </ng-template>
  </ngb-tab>
</ngb-tabset>