<section class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ciKorean">앞면 (한국어)</label>
        <textarea #userInfoFront
                  id="ciKorean"
                  [(ngModel)]="cardInfo.korean"
                  name="ciKorean"
                  class="form-control" 
                  rows="2"
                  tabindex="1"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="ciEnglish">뒷면 (English)</label>
        <textarea id="ciEnglish"
                  name="ciEnglish"
                  [(ngModel)]="cardInfo.english"
                  class="form-control"
                  rows="2"
                  tabindex="2" autofocus></textarea>
      </div>
      <div class="form-group col-md-6 col-sm-6">
        <label for="ciDayOfStudy">Card Group</label>
        <input  id="ciDayOfStudy"
                type="number"
                name="ciDayOfStudy"
                class="form-control"
                [(ngModel)]="cardInfo.dayOfStudy"
                min=1
                tabindex="4">
      </div>
      <!-- <div class="form-group col-md-6 col-sm-6">
        <label for="ciCardLevel">카드 레벨</label>
        <input  id="ciCardLevel" disabled
                type="number"
                name="ciCardLevel"
                [(ngModel)]="cardInfo.cardLevel"
                class="form-control"
                min=1 max=7>
      </div> -->
      <div class="form-group col-md-6 col-sm-6">
        <label for="ciReviewDates">복습 예정일차</label>
        <input  id="ciReviewDates"
                type="text"
                name="ciReviewDates"
                [(ngModel)]="cardInfo.reviewDates"
                (blur)="onReviewDatesChange($event, cardInfo.reviewDates)"
                class="form-control"
                tabindex="-1">
      </div>      
      <div class="form-group col-sm-12 col-md-6">
        <label for="ciGenDate">카드 종류</label>
        <card-type-dropdown buttonTitle="Types" [cardTypes]="cardTypes" [(cardType)]="cardInfo.cardType" [cardTypeNameList]="cardTypeNameList" ></card-type-dropdown>
      </div>
      
      

      <div class="form-group col-sm-12 col-md-6">
        <label for="ciGenDate">카드 생성일</label>
        <input  disabled
                id="ciGenDate"
                type="datetime-local"
                name="ciGenDate"
                [ngModel]="cardInfo.genDate | date:'yyyy-MM-ddTHH:mm:ss'"
                (ngModelChange)="onGenDateChange($event)"
                class="form-control">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary" (click)="submitUserInput(cardInfo, userInfoFront)" tabindex="3">Submit</button>
      </div>
    </div> <!-- ./form-row -->
  </form>
</section>
